<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= title %></h1>
    

    <form method="post" action="/editProfile/update">

    <div class="form-group">
      <input type="hidden" class="form-control" id="id" value="<%= profile._id %>" name="_id">
    </div>

    <div class="form-group">
      <label>Name:</label>
      <input type="text" class="form-control" id="editName" value="<%= profile.name %>" name="name">
    </div>

    <div class="form-group">
      <label>College:</label>
      <input type="text" class="form-control" id="editCollege" value="<%= profile.college %>" name="college">
    </div>

    <div class="form-group">
      <label>Course:</label>
      <input type="text" class="form-control" id="editCourses" value="<%= profile.course %>" name="course">
    </div>

    <div class="form-group">
      <label>Semester:</label>
      <input type="text" class="form-control" id="editSemester" value="<%= profile.semester %>" name="semester">
    </div>

    <div class="form-group">
      <label>Contact No.:</label>
      <input type="text" class="form-control" id="editNumber" value="<%= profile.number %>" name="number">
    </div>

    <div class="form-group">
      <label>Facebook Link:</label>
      <input type="url" class="form-control" id="editlink" value="<%= profile.link %>" name="link">
    </div>

    <div class="form-group">
      <label>Your Photo:</label><br>
      <button class="btn" type="" id="editImage">Choose file</button>
    </div>

    <button type="submit" class="btn btn-primary">Upload</button>
    <a id="delete" class="btn btn-danger" href="/editprofile/delete/<%= profile._id %>">Delete</a>
    
  </form>



  </body>
</html>
