<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <h1><%= profiles.name %></h1>
    <p>Welcome to <%= title %></p>

    <table class="table">
    	<thead class="thead-inverse">
	    	<tr>
	    		<th>SN</th>
	    		<th>Name</th>
	    		<th>College</th>
	    		<th>Action</th>
	    	</tr>
    	</thead>
    	<tbody>

    	  <% profiles.forEach(function(profile, i){ %>
		    <tr>
		      <th scope="row"><%= i+1 %></th>
		      <td><%= profile.name %></td>
		      <td><%= profile.college %></td>
		      <td><a class="btn btn-primary" id="indexView" href="profile">View</a>
		      <a class="btn btn-warning" id="indexEdit" href="/edit/<%= profile._id %>">Edit</a></td>
		    </tr>
		  <% }) %> 
  		</tbody>
    </table>

    <a class="btn btn-success" id="indexEdit" href="/add">Add new profile</a>

  </body>
</html>
