<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

    <table class="table">
    	<thead class="thead-inverse">
	    	<tr>
	    		<th>Name:</th>
	    		<th>College:</th>
	    		<th>Course:</th>
	    		<th>Semester:</th>
	    		<th>Contact number:</th>
	    		<th>Facebook link:</th>
	    		<th>Profile picture:</th>
	    	</tr>
    	</thead>
    	<tbody>
    	<% profiles.forEach(function(profile, i){ %>
		    <tr>
		      <td><%= profile.name %></td>
		    	<td><%= profile.college %></td>
		    	<td><%= profile.course %></td>
		    	<td><%= profile.semester %></td>
		    	<td><%= profile.number %></td>
		    	<td><a href="<%= profile.link %>" target='_blank'><%= profile.link %></a></td>
		    	<td><img src="<%= profile.image %>" width='100' height='150'></td>
		    </tr>
		  <% }) %> 
  		</tbody>
    </table>

  </body>
</html>
